@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-primary);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
    background: #ffffff;
    color: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
}

.article h1 {
  @apply font-primary text-6xl;
}

.article h2 {
  @apply text-5xl;
}

.article h3 {
  @apply text-4xl;
}
.article h4 {
  @apply text-3xl;
}

.article p {
  @apply font-primary text-red-500;
}
